<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>Index</title>
</head>
<body>

<!--<div th:switch="${role}">-->

<!--<div th:case="'USER'" class="topnav">-->
<!--  <a href="/">Home</a>-->
<!--  <a href="PastAndPendingOrders">Past and Pending Orders</a>-->
<!--  <a class="active" href="Cart">Cart</a>-->
<!--  <a class="logout" href="/Logout">Log Out</a>-->
<!--</div>-->

<!--  <div th:case="'ADMIN'" class="topnav">-->
<!--    <a href="/">Home</a>-->

<!--  </div>-->
<!--</div>-->
<div class="topnav">
  <a class="active" href="admin">Update Menu</a>
  <a href="query">Query Database</a>
  <a class="logout" href="/Logout">Log Out</a>
</div>
<p th:text="'Welcome ' + ${un} + '!'"></p>



<div style="padding-left:16px">

  <h2>Cart</h2>
  <p>Get items from local memory and display here</p>

</div>

<div th:if="${not #lists.isEmpty(ItemsInCart)}">
  <h2>Counts List</h2>
  <table id="displayTable">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th> </th>
      <th> </th>
    </tr>
    <tr th:each="Item : ${ItemsInCart}">
      <td th:text="${Item.ItemName}"></td>
      <td th:text="${Item.Price}"></td>
      <td th:text="${Item.Quantity}"> </td>
      <td> <button type="submit" name="AddToCart" th:value="${Item.ID}">Remove</button> </td>
      <td> <button type="submit" name="AddToCart" th:value="${Item.ID}">Add</button> </td>
    </tr>
  </table>
</div>

<br>

<form role="form" method="post" th:action="@{'/Checkout'}">
  <button type="submit">Checkout</button>
</form>

</body>
</html>