<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="15">
    <link rel="stylesheet" href="styles.css">
    <title>Index</title>

</head>
<style>
    .centerErrors {
      text-align: center;
      color: red;
    }
</style>
<body>


<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="PastAndPendingOrders" class="notification">
        <span>Orders</span>
        <span class="badge" th:text="${NewlyCompletedOrders}"></span>
    </a>
    <a href="Cart">Cart</a>

    <a class="logout" href="/Logout">Log Out</a>
</div>


<div style="text-align: center;">

    <h3 th:text="'Welcome ' + ${un} + '!'"></h3>
    <p>Please select from the following menu</p>
</div>

<div class="centerErrors" th:if="${not #lists.isEmpty(errors)}">

    <div th:each="message : ${errors}">

        <p th:text="${message}"></p>

    </div>
</div>

<br>
<h3 style="text-align: center;">Appetizers</h3>

<div th:if="${not #lists.isEmpty(MenuItems)}">
    <table id="displayTable">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th> </th>
        </tr>
        <tr th:each="Item : ${MenuItems}" th:if="${Item.Category} == 'appetizer'">
            <td th:text="${Item.ItemName}"></td>
            <td th:text="'$'+${#numbers.formatDecimal(Item.Price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${Item.Description}"></td>
            <td>
                <form role="form" method="post" th:object="${Item}" th:action="@{'/AddToCart/{ID}' (ID=${Item.ID})}">
                    <button type="submit">Add To Cart</button>
                </form>
            </td>
        </tr>
    </table>
</div>


<br>
<br>
<h3 style="text-align: center;">Entrees</h3>

<div th:if="${not #lists.isEmpty(MenuItems)}">
    <table id="displayTable">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th> </th>
        </tr>
        <tr th:each="Item : ${MenuItems}" th:if="${Item.Category} == 'entree'">
            <td th:text="${Item.ItemName}"></td>
            <td th:text="'$'+${#numbers.formatDecimal(Item.Price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${Item.Description}"></td>
            <td>
                <form role="form" method="post" th:object="${Item}" th:action="@{'/AddToCart/{ID}' (ID=${Item.ID})}">
                    <button type="submit">Add To Cart</button>
                </form>
            </td>
        </tr>
    </table>
</div>


<br>
<br>
<h3 style="text-align: center;">Desserts</h3>

<div th:if="${not #lists.isEmpty(MenuItems)}">
    <table id="displayTable">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th> </th>
        </tr>
        <tr th:each="Item : ${MenuItems}" th:if="${Item.Category} == 'dessert'">
            <td th:text="${Item.ItemName}"></td>
            <td th:text="'$'+${#numbers.formatDecimal(Item.Price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${Item.Description}"></td>
            <td>
                <form role="form" method="post" th:object="${Item}" th:action="@{'/AddToCart/{ID}' (ID=${Item.ID})}">
                    <button type="submit">Add To Cart</button>
                </form>
            </td>
        </tr>
    </table>
</div>


</body>
</html>